html{
    margin: 0;
    padding:0;
}

body{
    margin:0;
    padding:0;
    background-color: #fcd750;
}

header{
    padding:1vh;
    height: 8vh;
    background-color:#33171b;
}

footer{
    padding: 20px;
    background-color: #33171b;
}

section{
    height:100vh;
    /* border-bottom: 1px black solid; */
}